.contenedor-dashboard {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.informacion-dashboard {
    margin-bottom: 20px;
    background-color: aliceblue;
    border-color: #000;
    height: 25px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    box-shadow: 2px 9px 10px -5px rgba(0, 0, 0, 0.47);
    padding: 4px;
}

.boton-actualizar button {
    background-color: #000000;
    border: none;
    color: white;
    display: flex;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 9px 10px -5px rgba(0, 0, 0, 0.47);
    margin-bottom: 20px;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: grid;
    margin-left: 1rem;
    grid-template-rows: auto 1fr;
    background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
}

.titulo-dasboard {
    place-self: center;
    font-size: 0.61rem;
}

.contenido-dashboard {
    display: grid;
}

.foto-perfil {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    color: azure;
    gap: 0.4rem;
}

.foto-perfil img {
    width: 100px;
    height: 100px;
}

.subir {
    display: flex;
    background-color: rgb(51, 122, 183);
    justify-content: center;
    padding: 0.4rem;
}

.cambiar-contra {
    display: flex;
    background-color: rgb(12, 12, 12);
    justify-content: center;
    padding: 0.4rem;

}

@media screen and (min-width:768px) {
    .contenedor-dashboard {
        display: grid;
        grid-template-columns: 30% 1fr;

    }

    .contenido-dashboard {
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;

    }

    .foto-perfil img {
        width: 100%;
        height: 7rem;
    }

    .subir {
        padding: 0.1rem;
    }

    .subir i {
        padding-left: 1rem;
        font-size: 2rem;
    }

    .dash-contra {
        display: grid;
        grid-template-rows: 5vh 5vh 5vh;
        grid-column: 2/3;
    }

    .dash-contra label {
        padding-top: 1rem;
    }

    .padd-contras {
        display: grid;
        grid-template-rows: 10vh 1fr;

        grid-column: 3/4;
    }

    .padd-contras label {
        display: grid;
        align-content: end;
    }
}

@media screen and (min-width:1024px) {
    .contenedor-dashboard{
        display: grid;
        grid-template-columns: 25% 2fr;
        font-size: 1.5rem;
    }
    .foto-perfil{
        width: 80%;
    }
    .foto-perfil img{
        height: 10rem;
    }
    .actualizar{
        font-size: 1rem;
    }
    .titulo-registro h1{
        place-content: center;
        font-size: 1.5rem;
    }
}
.Dash{
    background: url(../../components/img/plaza.jpg);

    background-position: center;
    background-repeat: no-repeat;
}
.contenedor-dashboard{
    font-size: 1.5rem;
}
@media screen and (min-width:1800px){
    .foto-perfil{
        width: 60%;
      }
      .foto-perfil img{
        height: 250px;
      }
      .titulo-registro h1{

        font-size: 3rem;
    }
   
}
/* MENÚ DASHBOARD COMPONENTE MEDIAQUERY */
@media screen and (min-width:768px) {
    .imagenes_320 img {
        display: none;
    }

    .contenedor-dashboard {
        display: grid;
        grid-template-columns: 30% 1fr;

    }

    .nombre-dashboard {
        display: grid;
        grid-template-rows: 30vh 1fr 10vh;
        background: linear-gradient(rgb(12, 59, 98) 25%, rgb(48, 51, 66) 10%);
        color: azure;
        gap: 2rem;
    }

    .titulo-dashboard {
        padding: 1rem;
    }

    .nombre-dashboard img {
        width: 200px;
        height: 150px;
    }

    .datos-dash {
        display: grid;
        place-content: end;
        padding-right: 1.2rem;
    }

    .habitaciones {
        display: flex;
        flex-direction: column;


    }

    .reservas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 8vh;
        font-size: 1.4rem;
    }

    .reservas p {
        width: 50%;
        padding-left: 1.5rem;
    }

    .cerrarse {
        background-color: rgb(59, 62, 79);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cerrarse p {
        font-size: 1.2rem;
    }

    .cerrarse i {
        font-size: 2rem;
        padding-right: 1rem;
    }

}
@media screen and (min-width:1024px) {

    .titulo-dasboard{
        font-size: 1.8rem;
    }
    .contenedor-dashboard{
        display: grid;
        grid-template-columns: 25% 2fr;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1800px){

}

@media screen and (max-width:767px) {
    .imagenes{
        display: none;
     }
    .nombre-dashboard {
        display: grid;
        color: azure;
        grid-template-rows: 15vh 2fr 1fr;
        place-items: center;
        background: linear-gradient(rgb(12, 59, 98) 10%, rgb(48, 51, 66) 10%);
    }

    .nombre-dashboard p,
    h3 {
        display: none;
    }

}